<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DContentlibNodeMapper">
    
    <resultMap type="DContentlibNode" id="DContentlibNodeResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="projectId"    column="project_id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="deleted"    column="deleted"    />
        <result property="creator"    column="creator"    />
        <result property="creatorTime"    column="creator_time"    />
        <result property="modifier"    column="modifier"    />
        <result property="modifierTime"    column="modifier_time"    />
    </resultMap>

    <sql id="selectDContentlibNodeVo">
        select id, pid, project_id, name, remark, deleted, creator, creator_time, modifier, modifier_time from d_contentlib_node
    </sql>

    <select id="selectDContentlibNodeList" parameterType="DContentlibNode" resultMap="DContentlibNodeResult">
        <include refid="selectDContentlibNodeVo"/>
        <where>  
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="creatorTime != null "> and creator_time = #{creatorTime}</if>
            <if test="modifier != null  and modifier != ''"> and modifier = #{modifier}</if>
            <if test="modifierTime != null "> and modifier_time = #{modifierTime}</if>
        </where>
    </select>
    
    <select id="selectDContentlibNodeById" parameterType="Long" resultMap="DContentlibNodeResult">
        <include refid="selectDContentlibNodeVo"/>
        where id = #{id}
    </select>

    <insert id="insertDContentlibNode" parameterType="DContentlibNode" useGeneratedKeys="true" keyProperty="id">
        insert into d_contentlib_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="projectId != null">project_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="remark != null">remark,</if>
            <if test="deleted != null">deleted,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="creatorTime != null">creator_time,</if>
            <if test="modifier != null and modifier != ''">modifier,</if>
            <if test="modifierTime != null">modifier_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="creatorTime != null">#{creatorTime},</if>
            <if test="modifier != null and modifier != ''">#{modifier},</if>
            <if test="modifierTime != null">#{modifierTime},</if>
         </trim>
    </insert>

    <update id="updateDContentlibNode" parameterType="DContentlibNode">
        update d_contentlib_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid = #{pid},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="creator != null and creator != ''">creator = #{creator},</if>
            <if test="creatorTime != null">creator_time = #{creatorTime},</if>
            <if test="modifier != null and modifier != ''">modifier = #{modifier},</if>
            <if test="modifierTime != null">modifier_time = #{modifierTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDContentlibNodeById" parameterType="Long">
        delete from d_contentlib_node where id = #{id}
    </delete>

    <delete id="deleteDContentlibNodeByIds" parameterType="String">
        delete from d_contentlib_node where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>